@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-bg{
    background-color: #2c3e50;
}

.about-bg{
    background-color: #1abc9c;
}
.no-scroll {
    overflow: hidden;
    height: 100vh;
}
.active {
    background-color: #1abc9c;
}